@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  /* font-family: "Quicksand"; */
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  border-bottom: 5px solid #f2f2f2;
  background-color: #FCF6F5;
  margin-bottom: 50px;
}
.navbar h1 {
  color: #990011;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #990011;
}


body{
    background: #FCF6F5;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
}


/* HeroSection.css */

.hero-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 80px; /* Adjust the padding as needed */
  font-family: 'Josefin Sans', sans-serif;
}

.left-side {
  flex: 1;
  text-align: left;
}

.name{
  font-size: 40px;
}

.education-container {
  display: flex;
  font-size: 20px;
  margin-top: 10px;
  text-align: left;
  
}

.result {
  flex: 1;
  /* padding: 10px; */
  text-align: left;
}

.divider {
  width: 1px;
  background-color: #ccc; /* Adjust the color of the divider */
  margin: 0 20px; /* Adjust the spacing around the divider */
}

.right-side {
  flex: 1;
  text-align: center;
}

.myself {
  background-color: #FBEAEB;
  max-width: 100%;
  height: 300px;
  /* border: 5px solid #bfc0c1; */
  border-radius: 50%; 
}

.animation {
  margin: 0; /* Remove default margin to prevent unwanted spacing */
  font-size: 20px;
  white-space: nowrap; /* Ensure text doesn't wrap to the next line */
  overflow: hidden; /* Hide any overflowed text */
  animation: typeWriter 3s steps(30) infinite; /* Adjust duration and steps as needed */
}

@keyframes typeWriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}




/* CSS */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  /* display: flex; */
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
  
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


.projects-page {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 25px;
}

.project-left-side {
  flex: 1;
  text-align: left;
}

.project-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:40px;
}


.project-preview {
  /* background-color: #fff; */
  padding-left: 15px;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.project-preview:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.skill-icons{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}


.project-right-side img {
  width: 100px; /* Adjust the size of the icons as needed */
  margin-bottom: 10px; /* Add some spacing between icons */
  margin-right: 50px;
  /* transition: transform 0.3s ease-in-out; */
  animation: bounceAnimation 2s ease-in-out infinite;
}

/* .project-right-side img:hover {
  transform: scale(1.1) rotate(180deg);
  transition: transform 0.5s ease-in-out;
} */

@keyframes bounceAnimation {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0); /* Bounce at the top and bottom */
  }
  40% {
    transform: translateX(-20px); /* Move upward during bounce */
  }
  60% {
    transform: translateX(-10px); /* Move upward slightly less during bounce */
  }
}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.social-links img{
  width: 30px;
}

/* ContactForm.css */

.whole-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:30px;
  padding-top: 50px;
}

iframe {

  margin-left: 50px;
 
 width: 50%;
 height: 350px;
}


.contact {
  
  width: 300px;
  display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid black;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 30px;
    transition: all 0.2s ease-in;
    
}

.form-input input {
  
  display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    resize: none;
}
.form-input textarea {
  
  display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid black;
    resize: none;
}


.form-icon {
  margin-right: 10px;
}

/* Style for success message */
.swal2-icon-success {
  color: #28a745 !important;
}

/* Style for error message */
.swal2-icon-error {
  color: #dc3545 !important;
}

.contact-button {
  width: 100px;
  padding: 10px;
  margin-left: auto;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid black;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in;
}

.contact-button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-5px) translateY(-5px);
}





@media (max-width: 700px){
  .hero-section{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .left-side{
    text-align: center;
  }
  .projects-page{
    display: flex;
    flex-direction: column;
  }
  .project-left-side{
    text-align: center;
  }
  .whole-container{
    flex-direction: column;
    
  }
  .social-links{
    justify-content: center;
  }
  iframe{
    width: 80%;
  }
  @keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Bounce at the top and bottom */
    }
    40% {
      transform: translateY(-20px); /* Move upward during bounce */
    }
    60% {
      transform: translateY(-10px); /* Move upward slightly less during bounce */
    }
  }
}


.contact label[for="form-input-control-email"]::after,
.contact label[for="form-input-control-last-name"]::after,
.contact label[for="form-textarea-control-opinion"]::after {
  content: " *";
  color: red;
}

.contact label[for="form-input-control-email"]::after {
  content: " *";
  color: red;
}

.contact label[for="form-input-control-last-name"]::after {
  content: " *";
  color: red;
}

.contact label[for="form-textarea-control-opinion"]::after {
  content: " *";
  color: red;
}
